body{
    font-family: 'Lato', Roboto, -apple-system, sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.5;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-size: cover;
}