.main-nav{
    padding: 32px 80px 32px 32px;
    height: 100vh;
    background-color:#F8F9FA; 
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
} 
.nav-container{
    .navList{
        margin-top: 32px;
    }
    .navList-item{
        margin-bottom: 29px;
        position: relative;
        a{
            &:hover::before{
                content:'';
                display: inline-block;
                position: absolute;
                left: -32px;
                top: 0;
                height: 32px;
                border-right:4px solid $success-color;
            }
        }
    }
}
.userCard{
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .userName{
        color: $primary-color;
    }
    .email{
        font-size: 14px;
        line-height: 24px;
        color: $secondary-color;
    }
}
.list-group{
    .list-group-item{
        &.active{
            color: unset;
            background-color: #F8F9FA;
            border-color: #CED4DA;
        }
    }
}